.simpleProduct_form{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto auto;
    border: 2px solid #f0f0f0;
    padding: 80px;
    border-radius: 15px;
    flex-direction: column;
     
}